a{text-decoration: none;}
.Heading {
font-size: 30px;
text-align: center;
color: #e8dddd;
background: crimson;
border-radius: 3px;
padding: 5px;
}
input{width: 100%;}
.error, .success{ color: white; text-align: center; padding: 5px; font-weight: 600; display: none;}
.error{background: red;}
.success{background: green;}
.fa-trash-alt{color: red;}
.fa-edit{color: green; margin-right: 5px;}